* {
	list-style:none; 
	padding:0px;
	margin:0px;
}

body{
    background-image: url(../img/destinos.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content{    
    color: white;
    padding-top: 50px;
    padding-bottom: 300px;
    text-shadow: #000 2px 1px 2px;
    
}

.container cep{
    margin-top: 20px;
}

.table{
    margin-top: 20px;
    color: white;
    text-shadow: #000 2px 1px 2px;
    background-color: rgb(29, 28, 28, 0.5);
}

.container barra-progresso{
    margin-top: 80px;
}

footer{
    background: black;
    padding-top: 20px;
    padding-bottom: 5px;
    color:#f1f1f1;
    position:absolute;
    bottom:0;
    width:100%;
}

.footer-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
